* {
  margin: 0;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #1a1b26, #24283b);
}

.game{
  margin: auto auto;
}

.tetris{
  border: 5px solid #414868;

  display: grid;
  grid-template-columns: repeat(10, auto);
}

.tetris div{
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  box-shadow: inset 2px 2px 2px #0f0f14, inset -2px -2px 2px #343b58;

  background: #d3d3d366;
}

/* Pantone 2022 */
.tetris .O{
  background-color: #7575ff;
}
/* Pantone 2021 */
.tetris .L{
  background-color: #f5df4d;
}
.tetris .J{
  background-color: #fa7268;
}
/* Pantone 2018 */
.tetris .S{
  background-color: #e47b12;
}
/* Pantone 2017 */
.tetris .Z{
  background-color: #88b04b;
}
/* Pantone 2016 */
.tetris .I{
  background-color: #92a8d1;
}
/* Pantone 2015 */
.tetris .T{
  background-color: #b163a3;
}
/* Pantone 2013 */
.tetris .P{
  background-color: #e0749f;
}
/* Pantone 2011 */
.tetris .R{
  background-color: #682d99;
}

.score{
  margin-left: 30px;
  padding: 20px;
  border: 5px solid #414868;
  border-radius: 30px;

  font-size: 60px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
